.category-selector {
    display: flex;
    justify-content: center; /* Center align buttons */
    margin-bottom: 20px; /* Space below category selector */
}

.category-selector button {
    margin: 0 10px; /* Space between buttons */
    padding: 10px 20px; /* Padding for buttons */
    font-size: 20px; /* Button text size */
    cursor: pointer; /* Pointer cursor on hover */
    border: 1px solid transparent; /* Initial border */
    border-radius: 5px; /* Rounded corners */
    background-color: white; /* Button background */
    transition: background-color 0.3s, border 0.3s; /* Smooth transition */
    color: aqua;
}

.category-selector button.active {
    background-color: #007bff; /* Active button background */
    color: white; /* Active button text color */
    border: 1px solid #007bff; /* Active button border */
}

.category-selector button:hover {
    background-color: #f0f0f0; /* Light gray background on hover */
}

.back-menu {
    margin: 20px 0; 
    padding: 10px 20px; 
    font-size: 30px;
    cursor: pointer;
    color: black;
    transition: background-color 0.3s, color 0.3s;

}

