header {
    background-color:black; 
    padding: 10px 20px;
    /* background-image: url("/logos/header.jpg"); */
}

.nav_container {
    display: flex; 
    justify-content: space-evenly; 
    align-items: center; 
}

.nav_logo {
    flex: 1; 
}

.logo {
    height: 100px; 
    width:100px;
    border-radius: 50%;
}

.nav_links {
    display: flex; 
    gap: 70px; 
}

.nav_link {
    color:white;
    text-decoration: none; 
    font-size: 20px; 
    display: flex;
    align-items: center; 
    transition: color 0.3s; 
    font-weight: bold;
}

.nav_link:hover {
    color: #53e6e6; 
}

.nav_link i {
    margin-right: 5px; 
}

@media (max-width: 768px) {
    .nav_links {
        flex-direction: row; 
        align-items: flex-start; 
        gap:10px;
    }

    .nav_link {
        padding: 10px 0;
        font-size: 12px;
    }

}
